@import 'tailwindcss';
@import 'theme.css';

@plugin "@tailwindcss/typography";

@layer utilities {
  .prose table {
    @apply border-collapse;
  }
  
  .prose thead {
    border: none;
  }
  
  .prose tr {
    border: none;
  }
  
  .prose tr:last-child {
    border-bottom-width: 0;
  }
  
  .prose th {
    vertical-align: bottom;
    border-width: 2px;
    border-color: var(--color-gray-400);
    background-color: var(--color-gray-200);
    padding: 4px 8px;
  }
  
  .prose th > p,
  .prose td > p {
    margin: 0;
  }
  
  .prose td {
    vertical-align: top;
    border-width: 2px;
    border-color: var(--color-gray-300);
    background-color: var(--color-gray-100);
  }
  
  .prose tbody td:first-child {
    padding-left: auto;
  }
}
